@use "variables" as vars;

// Navlink - li

@mixin navlink-style {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: vars.$transition-duration;

  &:hover {
    color: vars.$secondary-500;
    transition-duration: vars.$transition-duration;
  }
}

@mixin primary-button {
  display: flex;
  width: 140px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1.5px solid vars.$secondary-500;
  background: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: vars.$transition-duration;

  &:hover {
    background: vars.$secondary-500;
    transition-duration: vars.$transition-duration;
  }
}
