@use "variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: vars.$primary-500;
  color: vars.$font-color;
}

ul {
  list-style: none;
}
