@use "reset" as *;
@use "variables" as vars;
@use "typo" as *;
@use "utilities" as *;
@use "buttons" as *;
@use "mixins" as *;

// header

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  height: 48px;
  margin-top: 2.12rem;
  margin-bottom: vars.$margin-bottom;

  .navlink-container {
    display: flex;
  }

  li {
    @include navlink-style;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
